.header{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height:4em;
    background-color: #b6cac3;
    gap: 10em;
    

}

.logo{
    width: 180px;
    
}

.navbar ul li{
    display: inline-flex;
    margin: 5px 20px;
    font-size: 16px;
    font-weight: 300;
    list-style: none;
    cursor: pointer;
}

.menu-icon{
    display: none;
}

/* media quries */
@media (max-width:1200px) {
    .logo{
        width: 140px;
        
    }
    .header{
        gap: 7em;
        
    
    }
    .navbar ul li{
        margin: 4px 18px;
        font-size: 15px;
        font-weight: 250;
        
    }
    
    
}
@media (max-width:840px) {
  
    .header{
        gap: 5em;
        
    
    }
    .navbar ul li{
        margin: 3px 13px;
        font-size: 15px;
        font-weight: 150;
        
    }
    
    
}

@media (max-width:800px) {
  
    .header{
        gap: 5em;
        
    
    }
    .navbar ul li{
        margin: 2px 10px;
        font-size: 15px;
        font-weight: 150;
        
    }
    
    
}
@media (max-width:721px){
    .header{
       padding: 2px 0;
       height:4em;
       background-color: #b6cac3;
       gap: 23em;
    
    } 
    .navbar{
        padding: 15px 0;
        z-index: 10;
        

    }

    .logo{
        width: 150px;
        
    }
    .navbar ul {
       position: fixed;
       top: -100px;
       right: 0px;
       background:#b6cac3;
       z-index: -10;
       width: 200px;
       padding-top: 70px;
       transition: 0.5s;
       bottom: 0;

        
    }
    .navbar ul li{
        display: block;
        margin: 25px 40px;
        

        
       
    }
    .menu-icon{
        display: block;
        width: 25px;
        cursor: pointer;
        
       
       
     
    }
    .hide-mobile-menu {
        display: none;
        right: -200px;
       
      }
       
    
}

@media (max-width:576px){
    .header{
      
       gap: 15em;
    
    } 
    .navbar{
        padding: 10px 0;
      }

 
    
}
@media (max-width:459px) {
     .header{
        gap: 12em;
     }
}


@media (max-width:414px) {
    .header{
        gap: 10em;
        width: 100%;
        padding-right: 100%;
     }
}