.special{
    display: flex;
    align-items: center;
    justify-content: center;
    gap : 10em;
    text-align: center;
    padding-top:25px ;
     
    
}

.tittle{
    font-size: 28px;
    font-weight: 500;
    color: #040404;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-top:20px ;

    
}




.btn{
    background-color: #F4CE14;
	border: none;
	outline: none;
	border-radius: 16px;
	font-family: 'Roboto', sans-serif;
	color: #040404;
	font-size: 18px;
	font-weight: 400;
	line-height: 21px;
	letter-spacing: 0em;
	text-align: center;
	padding: -.7em;
	cursor: pointer;
    padding: 1em;
    margin-top: 1em;
    
}
/* media quries */
@media (max-width:840px) {

    .special{
        gap : 6em;
        padding-top:20px ;
         
        
    }

    .tittle{
        font-size: 22px;
        font-weight: 350;
    
        
    }
    .btn{
        border-radius: 15px;
        font-size: 15px;
        font-weight: 300;
        
    }
    

}
@media (max-width:576px){
    .special{
        gap : 3em;
        padding-top:20px ;
         
        
    }

    .tittle{
        font-size: 17px;
        font-weight: 350;
    
        
    }
    .btn{
        border-radius: 15px;
        font-size: 13px;
        font-weight: 300;
        
    }
    

}

@media (max-width:459px) {

    .special{
        gap : 2em;
      
        
    }

    .tittle{
        font-size: 13px;
        font-weight: 350;
    
        
    }
    .btn{
        border-radius: 14px;
        font-size: 13px;
        font-weight: 300;
        
    }
    


}


@media (max-width:414px){
    .special{
        gap : 1em;
      
        
    }

    .tittle{
        font-size: 10px;
        font-weight: 250;
    
        
    }
    .btn{
        border-radius: 14px;
        font-size: 10px;
        font-weight: 250;
        
    }
    
}